---
layout: default 
---

{% include nav.html %}
<!-- first container -->
<div class="container-news">
  <div class="header-wrapper">
    <h1 class="header">News</h1>
    <hr style="margin: 1rem 0;">
  </div>
  {% for post in site.data.news %}
  <div class="news-content-wrapper" data-tags="{{ post.tags | join: ',' }}">
      <div class="post">
        <div class="post-wrapper" id="{{ post.reference | remove: '#' }}">
        <div class="number-and-url">
            <h1>{{post.number}}</h1>
            <a href="{{post.link}}">URL</a>
            {% if post.tags %}
            <div class="tag-wrapper">
              {% for tag in post.tags %}
                <div class="tag"><p>{{ tag }}</p></div>
              {% endfor %}
            </div>
            {% endif %}
            
        </div>
        <div class="information">
            <h1>{{post.title}}</h1>
            <p>{{post.authors}}</p>
            <p class="journal">{{post.journal}}</p>
        </div>
        <img src="../{{post.image}}" />
      </div>

      <hr style="margin: 1rem 0;">
      </div>
      
    
  </div>     
  {% endfor %}    
</div>

 
{% include footer.html %}


