---
layout: default 
---

{% include nav.html %}
<!-- first container -->
<div class="container-publications">
  <div class="header-and-search">
    <h1 class="header">Publications</h1>

    <div class="search-wrapper">
      <i class="search-icon fas fa-search"></i>
      <input type="search-input" id="search" placeholder="Filter">
    </div>
  </div>
  <hr>
  <div class="publications-content-wrapper" >
    {% assign sorted_publications = site.data.publications | sort: "number" | reverse %}
    {% for publication in sorted_publications %}
      <div class="publication" data-tags="{{ publication.tags | join: ',' }}">
        <div class="publication-wrapper" id="{{ publication.reference | remove: '#' }}" data-href="../{{publication.origin}}">
          <div class="text-wrapper">
            <div class="number-and-url">
            <h1>{{publication.number}}</h1>
            <a href="{{publication.link}}">URL</a>
            {% if publication.tags %}
            <div class="tag-wrapper">
              {% for tag in publication.tags %}
                <div class="tag"><p>{{ tag }}</p></div>
              {% endfor %}
            </div>
            {% endif %}
            
            </div>
            <div class="information">
              
              <h1>{{publication.title}}</h1>
              <p>{{publication.authors}}</p>
              <p class="journal">{{publication.journal}}</p>
            </div>
          </div>
          <div class="image-box">
            <img src="{{publication.image}}" />
          </div>

          
        </div>
        <hr style="margin: 1rem 0;">
      </div>
    {% endfor %}
  </div>    
</div>
 
{% include footer.html %}


<script>

document.querySelectorAll('.publication-wrapper').forEach(el => {
  el.addEventListener('click', () => {
    const url = el.dataset.href;
    if (url) window.location.href = url;
  });
});

</script>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const input = document.getElementById("search");
  const publications = document.querySelectorAll(".publication");

  input.addEventListener("input", function () {
    const query = input.value.trim().toLowerCase();

    publications.forEach(pub => {
      const wrapper = pub.querySelector(".publication-wrapper");
      const hr = pub.querySelector("hr");
      const title = wrapper.querySelector(".information h1")?.textContent.toLowerCase() || "";
      const tags = pub.dataset.tags?.toLowerCase().split(",") || [];

      const titleMatch = title.includes(query);
      const tagMatch = tags.some(tag => tag.includes(query));

      const shouldShow = query === "" || titleMatch || tagMatch;

      wrapper.style.display = shouldShow ? "flex" : "none";
      if (hr) hr.style.display = shouldShow ? "block" : "none";
    });
  });
});
</script>

