.container-news
  padding: 5vh
  overflow: hidden
  background: $secondary
  .header-wrapper
    width: 30vw
    display: flex
    flex-direction: column
    margin: 0 auto
    .header
      margin-top: 18vh
      color: $primary
      text-align: center
      @media screen and (max-width: 600px)
      margin-top: 12vh
  
  