.container-publications
  position: relative
  padding: 5vh
  background: $secondary
  .header
    margin-top: 18vh
    margin-bottom: 2vh
    color: $primary
    text-align: center
    @media screen and (max-width: 600px)
      margin-top: 12vh
  .search-wrapper
    position: relative
    padding: 2vw
    display: flex
    justify-content: flex-end
    

    input
      width: 30%
      font-size: 1rem
      height: 1.5rem
      @media screen and (max-width: 600px)
        margin-top: 2vh
        margin-bottom: 4vh
        width: 100%

  .publications-content-wrapper
    flex-wrap: wrap
    display: flex
    flex-direction: column       
    .publication-wrapper
      padding: 2vw
      display: flex
      flex-direction: row
      width: 100%
      height: 20vh
      overflow: hidden
      box-shadow: 0 4px 12px rgba($primary, 0.2)
      &:hover
        transform: scale(1.05) 
      .number-and-url
        position: relative
        width: 20%
        display: flex
        flex-direction: column
        @media screen and (max-width: 600px)
          width: 15%
        h1
          font-size: clamp(1.25rem, 3vw, 1.75rem)
          color: $primary
        a
          font-size: clamp(0.75rem, 2vw, 1rem)
          color: $highliting
          font-weight: 500
          text-decoration: none
          transform-origin: center
          &:hover
            transform: scale(1.1)
        .tag-wrapper
          position: absolute
          display: flex
          flex-direction: row
          flex-wrap: wrap
          bottom: 0
          .tag
            p
              display: inline-block
              padding: 0.3vh 0.7vw
              border: 1px solid adjust-color($primary, $lightness: -40%)
              border-radius: clamp(2px, 2vh, 6px)
              color: $primary
              font-size: clamp(0.5rem, 2vw, 0.85rem)
              white-space: nowrap
              margin: 0
      .information
        position: relative
        width: 50%
        height: 100%
        display: flex
        flex-direction: column
        @media screen and (max-width: 600px)
          width: 55%
        h1
          font-size: clamp(1.25rem, 3vw, 1.75rem)
          color: $primary
        p
          font-size: clamp(0.75rem, 2vw, 1rem)
          color: lighten($primary, 40%)
          line-height: 1.2em
        p.journal
          position: absolute
          bottom: 0
      img
        aspect-ratio: 9 / 16
        width: 30%
        display: block
        object-fit: cover
          
        